@import './_theme.scss';
@import './_html5.scss';
// @import './_index.scss';
// @import './_news.scss';
html {
  font-size: 16px;
  line-height: 1.6;
  @include phoneVertical {
    font-size: 12px;
    line-height: 1.3;
  }
}
body {
  font-family: 'Microsoft YaHei', Arial, Helvetica, 'Heiti SC', HelveticaNeue;
  background: #fff;

  color: #333;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*-webkit-overflow-scrolling: touch;*/
}

* {
  box-sizing: border-box;
}

a {
  color: #333333;
}

img {
  border: 0px;
}

i {
  font-style: normal;
}

.container-full {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
  @include phoneVertical {
    padding: 0px 15px;
  }
}

.container:after,
.container:before {
  display: block;
  content: '';
  height: 0px;
  overflow: hidden;
  clear: both;
}

.hl-margin-block {
  margin-bottom: 50/16 * 1rem;
  @include phoneVertical {
    margin-bottom: 30/16 * 1rem;
  }
}
.hl-hd-block {
  font-size: 1.875rem;
  margin-bottom: 2.5rem;
  text-align: center;
  &:after {
    margin: 10px auto 0;
    content: '';
    display: block;
    width: 40px;
    height: 6px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #ff6100;
  }
}
.hl-title-bg {
  height: 400/16 * 1rem;
  text-align: center;
  color: #fff;
  background-size: cover !important;
  vertical-align: middle;
  margin-bottom: 50/16 * 1rem;
  .content {
    display: inline-block;
    vertical-align: middle;
  }
  h3 {
    font-size: 40/16 * 1rem;
  }
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
  }
  @include phoneVertical {
    height: 180/12 * 1rem;
    h3 {
      font-size: 25/12 * 1rem;
    }
  }
}

@include ipad-up {
  .hidden-ipad-up {
    display: none;
  }
}

@include ipad {
  .hidden-ipad-down {
    display: none;
  }
}
