// 颜色定义规范
$color-background-d: #F5F7FA;
$color-background: #409eff;
$color-background-b: #e9f5ff;
// $color-theme: #606266; // 主题颜色
// $color-sub-theme: #d93f30; // 二级主题色
$color-text: #686868; // 主要字体颜色
$dark-text: #989898; // 浅一点颜色的字体
$green-text: #67C23A; // 绿色
$color-background-line: #EBEEF5; // 分割线颜色

//字体定义规范
$font-mini: .625rem /* 10/16 */;
$font-small: .75rem /* 12/16 */;
$font-medium: .875rem /* 14/16 */;
$font-medium-x: 1rem /* 16/16 */;
$font-large: 1.125rem /* 18/16 */;
$font-large-x: 1.5rem /* 24/16 */;
$font-icon-small: 1.5625rem /* 25/16 */;
$font-icon-nomarl: 2.5rem /* 40/16 */;

// 清除浮动
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// 单行不换行
%nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}