// 默认大小
$form-input-height: 40px;
$form-input-width: 250px;
$form-input-padding: 0px 8px;
$form-input-size: 14px;
$form-input-radius: 0px;

// 小input
$form-input-height-small: 30px;
$form-input-width-small: 200px;
$form-input-padding-small: 0px 8px;
$form-input-size-small: 12px;
$form-input-radius-small: 0px;

// 大input
$form-input-height-large: 50px;
$form-input-width-large: 300px;
$form-input-padding-large: 0px 8px;
$form-input-size-large: 16px;
$form-input-radius-large: 0px;

// 默认皮肤
$form-input-color: $font-color;
$form-input-border: #ccc;
$form-input-background: #fff;

// 错误
$form-input-border-error: $danger;
$form-input-background-error: #f8e7e6;

// focus
$form-input-border-focus: #40a9ff;
$form-input-background-focus: #fff;

@mixin form-input-size($width, $height, $padding, $font-size, $border-radius) {
  width: $width;
  height: $height;
  padding: $padding;
  font-size: $font-size;
  border-radius: $border-radius;
}
@mixin form-input-skin($border, $background) {
  border: 1px solid $border;
  background: $background;
}

.form-input {
  outline: none;
  font-family: Din Pro, Arial, "Microsoft YaHei", Helvetica, "Heiti SC",
    HelveticaNeue;
  @include form-input-size(
    $form-input-width,
    $form-input-height,
    $form-input-padding,
    $form-input-size,
    $form-input-radius
  );
  @include form-input-skin($form-input-border, $form-input-background);
  &:focus {
    @include form-input-skin(
      $form-input-border-focus,
      $form-input-background-focus
    );
  }
  &[disabled] {
    @include form-input-skin(#ccc, #f4f5f5);
    color: #999;
  }
  &.form-input-block {
    width: 100%;
  }
}
.form-input-small {
  @include form-input-size(
    $form-input-width-small,
    $form-input-height-small,
    $form-input-padding-small,
    $form-input-size-small,
    $form-input-radius-small
  );
}
.form-input-large {
  @include form-input-size(
    $form-input-width-large,
    $form-input-height-large,
    $form-input-padding-large,
    $form-input-size-large,
    $form-input-radius-large
  );
}
