.index-banner {
  height: 640px;
  .swiper-container {
    width: 100%;
    height: 100% !important;
  }
  .swiper-wrapper {
    width: 100%;
    height: 100% !important;
    .swiper-slide {
      height: 100% !important;
      vertical-align: middle;
      text-align: center;
      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      &:nth-child(1) {
        background: url(../../../../assets/images/index-banner-01.jpg) no-repeat center center;
        background-size: cover;
      }
      &:nth-child(2) {
        background: url(../../../../assets/images/index-banner-01.jpg) no-repeat center center;
        background-size: cover;
      }
      &:nth-child(3) {
        background: url(../../../../assets/images/index-banner-01.jpg) no-repeat center center;
        background-size: cover;
      }
    }
    .content {
      display: inline-block;
      vertical-align: middle;
      color: #ffffff;
      // max-width: 1200px;
      // padding: 0px 10px;
    }
    h3 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .pagination {
    position: absolute;
    z-index: 20;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .swiper-pagination-bullet {
    display: inline-block;
    width: 25px;
    height: 5px;
    border-radius: 8px;
    background: #555;
    background: rgba($color: #ffffff, $alpha: 0.4);
    margin: 0 5px;
    opacity: 0.8;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  @include phoneVertical {
    height: 350px;
    .swiper-container {
      height: 100% !important;
    }
    h3 {
      font-size: 2.7rem !important;
    }
  }
}
