.product_chat {
  .swiper-container {
    width: 100%;
    height: 640px !important;
  }
  .swiper-wrapper {
    width: 100%;
    .swiper-slide {
      height: 640px !important;
      text-align: center;
      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      &:nth-child(1) {
        background: url(../../../assets/images/products/chat_banner_bg.png) no-repeat center top;
        background-size: cover;
      }
    }
    .container {
      display: inline-block;
      width: 100%;
      max-width: 75rem /* 1200/16 */;
      font-size: 0;
      vertical-align: bottom;
      text-align: left;
      @include xs {
        text-align: center;
      }
      .content-text {
        padding: 2rem 0;
      }
      h2 {
        font-size: 2rem;
        font-weight: normal;
      }
      p {
        font-size: 1.5rem;
        @include xs {
          display: inline;
        }
      }
      .el-button {
        font-size: 1rem;
        margin-top: 3rem;
        background-color: #000;
        border-color: #000;
        @include xs {
          margin: 1rem 2rem 0;
        }
        img {
          max-width: 1rem;
          vertical-align: middle;
        }
      }
      .content-img {
          text-align: center;
        img {
          max-width: 80%;
          // @include xs {
          //   max-width: 100%;
          // }
        }
      }
    }
  }

  .container-full {
    // background-color: #fff;
    max-height: 36rem;
    overflow: hidden;
    @include xs {
      max-height: 43rem;
    }
    &:nth-child(2) {
      background-color: #fff;
      .container {
        background: url(../../../assets/images/products/chat_bg_0.png) no-repeat center bottom;
        .content-text{
          float: right;
        }
      }
    }
    &:nth-child(3) {
      background-color: #fffbf2;
      .container {
        background: url(../../../assets/images/products/chat_bg_1.png) no-repeat right bottom;
      }
    }
    &:nth-child(4) {
      background-color: #fff;
      .container {
        background: url(../../../assets/images/products/chat_bg_2.png) no-repeat 70% bottom;
        .content-text{
          float: right;
        }
      }
    }
    &:nth-child(5) {
      background-color: #fffbf2;
      .container {
        background: url(../../../assets/images/products/chat_bg_3.png) no-repeat right bottom;
      }
    }
    .container {
      width: 100%;
      max-width: 75rem;
      margin: 0 auto;
      @include xs {
        text-align: center;
      }
      img {
        max-width: 100%;
        max-height: 31rem;
      }
      .content-text {
        padding: 13rem 9rem;
        // line-height: 2;
        @include xs {
          padding: 2rem 0;
        }
        h2 {
          font-weight: normal;
          letter-spacing: 3px;
        }
      }
      .content-img {
        font-size: 0;
        text-align: center;
        padding-top: 5rem;
        @include xs {
          padding-top: 2rem;
        }
      }
    }
  }

  .download_layout {
    padding: 5.625rem 0;
    text-align: center;
    @include phoneVertical {
      padding: 3rem 0;
    }
    h2 {
      font-weight: normal;
      letter-spacing: 3px;
      @include phoneVertical {
        font-size: 1.5rem;
      }
    }
    .download_btns {
      display: inline-block;
      margin-top: 2rem;
      img {
        max-width: 1rem;
        vertical-align: middle;
      }
    }
    .el-button {
      background-color: #ffd100;
      border-color: #ffd100;
      color: #000;
    }
  }
}
