.contract-us {
  background-color: #fafafa;
  padding-bottom: 6.25rem /* 100/16 */;
  @include phoneVertical {
    padding-bottom: 0;
  }
  .title-bg {
    height: 25rem /* 400/16 */;
    line-height: 25rem;
    text-align: center;
    color: #fff;
    background: url(../../assets/images/contract_banner.png) no-repeat center top;
    background-size: cover;
    @include phoneVertical {
      height: 17rem /* 400/16 */;
      line-height: 17rem;
    }
  }
  #allmap {
    width: 100%;
    height: 300px;
  }
  .contract-layout {
    max-width: 75rem /* 1200/16 */;
    margin: -4rem auto 0;
    background-color: #fff;
    .content {
      padding: 3rem 4rem;
      @include phoneVertical {
        padding: 2rem 5rem 2rem 1rem;
        p > span {
          display: block;
          margin-top: 0.5rem;
        }
      }
      .el-col {
        padding: 2rem 0;
        &:nth-child(1),
        &:nth-child(2) {
          border-bottom: 1px solid #eee;
        }
      }
    }
    .base-msg {
      h3 {
        font-weight: normal;
        margin-bottom: 1rem;
      }
      .red-text {
        color: #ff6b00;
      }
      h4 {
        line-height: 3;
      }
      p {
        font-size: 0.75rem;
        color: #757575;
        line-height: 2;
      }
    }
    .constract-icon {
      float: left;
      width: 8rem;
      height: 7rem;
      line-height: 7rem;
      text-align: center;
      img {
        width: 3rem;
        vertical-align: middle;
      }
    }
    .person-info {
      h4 {
        font-weight: normal;
        line-height: 2;
      }
      p {
        font-size: 0.75rem;
        color: #757575;
        line-height: 2;
      }
    }
  }
}
