.product_books {
  .swiper-container {
    width: 100%;
    height: 640px !important;
  }
  .swiper-wrapper {
    width: 100%;
    .swiper-slide {
      height: 640px !important;
      text-align: center;
      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      &:nth-child(1) {
        background: url(../../../assets/images/products/book_banner_bg.png) no-repeat center top;
        background-size: cover;
      }
    }
    .container {
      display: inline-block;
      width: 100%;
      max-width: 75rem /* 1200/16 */;
      font-size: 0;
      vertical-align: middle;
      text-align: left;
      @include xs {
        text-align: center;
      }
      .content-text {
        padding: 2rem 0;
        img {
          max-width: 2rem;
          margin-right: 0.5rem;
          vertical-align: middle;
        }
      }
      h2 {
        font-size: 2.5rem;
        font-weight: normal;
      }
      p {
        font-size: 1.5rem;
        @include xs {
          font-size: 1rem;
          margin-top: 2rem;
        }
      }
      .el-button {
        font-size: 1rem;
        margin-top: 3rem;
        @include xs {
          margin: 1rem .5rem 0;
        }
        img {
          max-width: 1rem;
          vertical-align: middle;
        }
      }
      .content-img {
        @include xs {
          text-align: center;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }

  .container-full {
    // background-color: #fff;
    height: 36rem;
    overflow: hidden;
    &:nth-child(2){
      background-color: #fff;
      .container{
        background: url(../../../assets/images/products/book_bg_0.png) no-repeat center bottom;
        .content-text{
          float: right;
        }
      }
    }
    &:nth-child(3){
      background-color: #fcfcfc;
      .container{
        background: url(../../../assets/images/products/book_bg_1.png) no-repeat right bottom;
      }
    }
    &:nth-child(4){
      background-color: #fff;
      .container{
        background: url(../../../assets/images/products/book_bg_2.png) no-repeat center bottom;
        .content-text{
          float: right;
        }
      }
    }
    &:nth-child(5){
      background-color: #fcfcfc;
      .container{
        background: url(../../../assets/images/products/book_bg_3.png) no-repeat right bottom;
      }
    }
    .container {
      width: 100%;
      max-width: 62.5rem;
      margin: 0 auto;
      @include xs {
        text-align: center;
      }
      .content-img {
        text-align: center;
        img {
          max-height: 31rem;
          margin-top: 6rem;
          text-align: center;
          @include xs {
            margin-top: 1rem;
          }
        }
      }
      .content-text {
        padding: 16rem 6rem;
        @include xs {
          padding: 2rem 0;
        }
        h2 {
          font-weight: normal;
          letter-spacing: 3px;
        }
      }
    }
  }

  .download_layout {
    padding: 5.625rem 0;
    text-align: center;
    @include xs {
      padding: 3rem 0;
    }
    h2 {
      font-weight: normal;
      letter-spacing: 3px;
      @include phoneVertical {
        font-size: 1.5rem;
      }
    }
    .download_btns {
      display: inline-block;
      margin-top: 2rem;
      img {
        max-width: 1rem;
        vertical-align: middle;
      }
    }
  }
}
