.hl-index-about {
  text-align: center;
  h3 {
  }
  .info {
    max-width: 760px;
    margin: 0 auto;
    font-size: 18/16 * 1rem;
    line-height: 2;
    margin-bottom: 40/16 * 1rem;
  }
  .items {
    overflow: hidden;
    ul {
      li {
        width: 33.33%;
        float: left;
      }
      .box {
        max-width: 225px;
        margin: 0 auto;
      }
      .img {
        margin-bottom: 20/16 * 1rem;
      }
      h4 {
        font-size: 18/16 * 1rem;
        margin-bottom: 10/16 * 1rem;
      }
      p {
        font-size: 14/16 * 1rem;
        color: #acacac;
      }
    }
  }
  @include phoneVertical {
    .items {
      img {
        width: 45px;
        height: auto;
      }
      p {
        display: none;
      }
    }
  }
}
