.join-us {
  background-color: #fafafa;
  padding-bottom: 6.25rem /* 100/16 */;
  @include phoneVertical {
    padding-bottom: 0;
  }
  .hl-title-bg {
    background: url(../../assets/images/joinus_banner.jpg) no-repeat center top;
    background-size: cover;
  }
  .container-full {
    max-width: 75rem /* 1200/16 */;
    margin: -4rem auto 0;
    background-color: #fff;
    .container {
      position: relative;
      padding: 3rem 4rem;
      @include phoneVertical {
        padding: 2rem 1rem;
      }
      .el-collapse-item__header {
        height: 5rem;
        line-height: 5rem;
      }
      .job-name {
        font-weight: normal;
      }
      .creat-time {
        position: absolute;
        right: 8rem;
        font-size: 0.75rem;
        color: #757575;
        @include phoneVertical {
          right: 4rem;
        }
      }
      .content-item {
        margin-top: 2.5rem;
        &:nth-child(1) {
          margin-top: 0;
        }
        p {
          font-size: 0.75rem;
          color: #757575;
        }
      }
      .yellow-text {
        color: #ff6b00;
      }
    }
  }
}
