.hl-header {
  position: fixed;
  z-index: 9;
  height: 100px;
  line-height: 100px;
  color: #ffffff;
  transition: all 0.3s linear;
  transform-origin: center top;
  .container {
    &::after,
    &::before {
      width: 100%;
      content: '';
      display: block;
    }
  }

  .hl-logo {
    float: left;

    img {
      vertical-align: middle;
      line-height: 0;
    }
  }
  .hl-mian {
    // overflow: hidden;
    text-align: right;
  }
  // .el-icon-close,
  // .el-icon-s-unfold,
  // .hl-copy {
  //   display: none;
  // }
  .hl-nav {
    text-align: right;

    > ul {
      > li {
        position: relative;
        display: inline-block;
        padding: 0px 2%;
        > a {
          position: relative;
          display: inline-block;
          color: inherit;
          cursor: pointer;
          &:after {
            position: absolute;
            left: 0;
            right: 0;
            top: 70px;
            display: block;
            content: '';
            height: 3px;
            background: #fff;
            border-radius: 4px;
            transform: scale(0, 1);
            transition: all 0.2s linear;
          }
        }
        &.active > a::after {
          transform: scale(1, 1);
        }
        ul {
          display: none;
          width: 120px;
          position: absolute;
          top: 80px;
          left: 50%;
          transform: translateX(-50%);
          padding: 10px;
          background: #ffffff;
          line-height: 1;
          text-align: center;
          border-radius: 5px;

          a {
            color: #333333;
            line-height: 2rem;
          }
        }

        &.hl-open {
          ul {
            display: block;
          }
        }
        .hl-yiqikanshu,
        .hl-meida {
          &::before {
            width: 20/16 * 1rem;
            height: 20/16 * 1rem;
            display: inline-block;
            content: '';
            vertical-align: middle;
            margin-right: 8px;
          }
        }
        .hl-yiqikanshu::before {
          background: url(../../../assets/images/pro-icon-1.png) no-repeat 0 0;
          background-size: 100%;
        }
        .hl-meida::before {
          background: url(../../../assets/images/pro-icon-2.png) no-repeat 0 0;
          background-size: 100%;
        }
      }
    }
    &.black {
      color: #333;
    }
  }
  &.fixedTop {
    position: fixed;
    height: 70px;
    line-height: 70px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    .hl-logo {
      a {
        display: inline-block;
        width: 165px;
        height: 67px;
        background: url(../../../assets/images/logo-bg.jpg) no-repeat center center;
      }
      img {
        display: none;
      }
    }
    .nav {
      ul {
        a {
          &:after {
            background: #333333;
          }
        }
      }
    }
  }
}
@include ipad {
  .hl-header {
    height: 60px;
    line-height: 60px;
    &.fixedTop {
      height: 60px;
      line-height: 60px;
      .hl-logo a {
        display: inline-block;
        height: 60px;
        width: 120px;
        background-size: 100% auto;
      }
    }
    .hl-logo {
      img {
        width: 120px;
      }
    }
    .el-icon-s-unfold {
      font-size: 1.5rem;
      line-height: inherit;
    }
    .hl-nav {
      position: fixed;
      left: 0;
      top: 0px;
      bottom: 0;
      width: 230px;
      padding: 1rem;
      background: #fff;
      color: #333;
      line-height: 50/16 * 1rem;
      text-align: left;
      transform: translateX(-100%);
      transition: all 0.3s linear;

      ul {
        li {
          width: 100%;
          a {
            &::after {
              display: none;
            }
          }
          &.el-has-child {
            > a {
              display: block;
              &:before {
                font-family: element-icons !important;
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                content: '\e6df';
                transition: all 0.3s linear;
              }
            }
            &.hl-open {
              > a:before {
                transform: rotate(180deg);
              }
            }
          }
          ul {
            display: none;
            transform: translateX(0);
            position: static;
            padding: 0;
            text-align: left;
            overflow: hidden;
          }
        }
      }
      .el-icon-close {
        font-size: 1.6rem;
        margin: 30/24 * 1rem 0;
      }

      .hl-copy {
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 3;
        font-size: 12/16 * 1rem;
      }
    }
  }
  #checkboxNav:checked ~ .hl-nav {
    transform: translateX(0%);
  }
}
