.hl-cooperation {
  background: #ffffff;
  padding-top: 50/16 * 1rem;
  padding-bottom: 80/16 * 1rem;
  overflow: hidden;
  .content {
    ul {
      font-size: 0;
      line-height: 0;
      li {
        width: 20%;
        display: inline-block;
        text-align: center;
        margin-bottom: 30/16 * 1rem;
        vertical-align: top;
        img {
          max-width: 85%;
          height: auto;
        }
      }
    }
  }
  @include phoneVertical {
    .content {
      ul {
        li {
          width: 33.33%;
          &:nth-child(n + 10) {
            display: none;
          }
        }
      }
    }
  }
}
