.hl-index-copyright {
  position: relative;
  height: 140 * 5px;
  overflow: hidden;
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    &::after {
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
    }
    .item {
      width: 100%;
      height: 140px;

      &:nth-child(1) {
        background: url(../../../../assets/images/home-book-line1.jpg) repeat-x;
        background-position: -500px;
        animation: scrolla 200s linear infinite;
      }
      &:nth-child(2) {
        background: url(../../../../assets/images/home-book-line2.jpg) repeat-x;
        background-position: -900px;
        animation: scrollc 230s linear infinite;
      }
      &:nth-child(3) {
        background: url(../../../../assets/images/home-book-line3.jpg) repeat-x;
        background-position: -100px;
        animation: scrollb 250s linear infinite;
      }
      &:nth-child(4) {
        background: url(../../../../assets/images/home-book-line4.jpg) repeat-x;
        background-position: -0px;
        animation: scrolld 200s linear infinite;
      }
      &:nth-child(5) {
        background: url(../../../../assets/images/home-book-line5.jpg) repeat-x;
        background-position: -1200px;
        animation: scrolle 220s linear infinite;
      }
      @keyframes scrolla {
        0% {
          background-position: -500px;
        }
        100% {
          background-position: -1992 * 10px;
        }
      }
      @keyframes scrollb {
        0% {
          background-position: -500px;
        }
        100% {
          background-position: -1992 * 10px;
        }
      }
      @keyframes scrollc {
        0% {
          background-position: -900px;
        }
        100% {
          background-position: -1992 * 10px;
        }
      }
      @keyframes scrolld {
        0% {
          background-position: -100px;
        }
        100% {
          background-position: -1992 * 10px;
        }
      }
      @keyframes scrolle {
        0% {
          background-position: -1200px;
        }
        100% {
          background-position: -1992 * 10px;
        }
      }
    }
  }
  .container {
    position: relative;
    height: 100%;
    z-index: 1;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    // &:before {
    // 	content: '';
    // 	display: inline-block;
    // 	height: 100%;
    // 	vertical-align: middle;
    // }
    .box {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    .content {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;
    }
    h3 {
      font-size: 30/16 * 1rem;
      margin-bottom: 30/16 * 1rem;
    }
    p {
      max-width: 660px;
      margin: 0 auto;
      font-size: 18/16 * 1rem;
      margin-bottom: 50/16 * 1rem;
    }
  }
  @include phoneVertical {
    height: 70 * 5px;
    .bg {
      .item {
        height: 70px;
        background-size: auto 100%;
      }
    }
  }
}
.book {
  height: 288px;
  margin: 0 auto;
  img {
    max-width: 216px;
    max-height: 287px;
    width: 90%;
    border-radius: 5px;
  }
  @include phoneVertical {
    min-height: 130px;
    height: auto;
    img {
      width: 70%;
    }
  }
}
.pagination-book {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-24px);
  div {
    position: absolute;
    width: 48px;
    height: 48px;
    background: url(../../../../assets/images/arrow.png) no-repeat center center;
    cursor: pointer;
  }
  .swiper-button-prev {
    left: -50px;
    transform: rotate(180deg);
  }
  .swiper-button-next {
    right: -50px;
  }
}
